<!-- ComplementaryFilter launch file -->
<launch>

  #### Controller
  <include file="$(find balance_robot_control)/launch/control.launch"/>

  #### IMU
  <include file="$(find balance_robot_control)/launch/publish_imu_complementary_filtered.launch"/>

  #### Lidar
  <include file="$(find balance_robot_control)/launch/publish_lidar.launch"/>

  #### Rviz
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find balance_robot_control)/launch/display.rviz"/>

  #### tf static transformer
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 10"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_laser" args="0 0 0 0 0 0 map laser 10"/>

</launch>