<!-- ComplementaryFilter launch file -->
<launch>

  #### Rviz Simple robot model
  <include file="$(find balance_robot_control)/launch/robot_display_simplemodel.launch" />

  #### Robot Controller
  <include file="$(find balance_robot_control)/launch/balance_robot_control.launch" />

  #### IMU Complementary filtered
  <include file="$(find balance_robot_control)/launch/publish_imu_complementary_filtered_py.launch" />


  #### Lidar
  <!--<include file="$(find balance_robot_control)/launch/publish_lidar.launch" />-->
  <node pkg="tf" type="static_transform_publisher" name="map_to_laser" args="0 0 0 0 0 0 map laser 10"/>

  #### tf static transformer
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 10"/>
  

</launch>