<!-- ComplementaryFilter launch file -->
<launch>

  #### Robot Controller
  <node pkg="balance_robot_control" type="balance_robot_control" name="balance_robot_control" 
    output="screen">
  </node>

  #### parameter
  <rosparam command="load" file="$(find balance_robot_control)/param/motor_control_param.yaml"/>

  #### Rviz
  <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find balance_robot_control)/launch/display.rviz"/-->

  #### tf static transformer
  <!--<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 10"/>-->
</launch>