<!-- ComplementaryFilter launch file -->
<launch>
<arg name="drv" default="0" />
  #### Controller
  <include file="$(find balance_robot_control)/launch/bobble_control.launch">
    <arg name="DRV_FLG" value="$(arg drv)" />
  </include>

  #### IMU
  <include file="$(find balance_robot_control)/launch/publish_imu_complementary_filtered.launch"/>

  #### tf static transformer
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 10"/>

</launch>