<!-- ComplementaryFilter launch file -->
<launch>

  #### Robot Controller
  <rosparam file="$(find balance_robot_control)/script/control_param.yaml" command="load" ns="balance_robot_control" />
  <rosparam file="$(find balance_robot_control)/script/balance_robot_control.yaml" command="load" ns="balance_robot_control" />
  <node pkg="balance_robot_control" type="balance_robot_control_bobble" name="balance_robot_control_bobble" 
    output="screen">
  </node>

</launch>