<!-- ComplementaryFilter launch file -->
<launch>

  #### Controller
  <include file="$(find balance_robot_control)/launch/control.launch"/>

  #### IMU
  <include file="$(find balance_robot_control)/launch/publish_imu_complementary_filtered.launch"/>

  #### tf static transformer
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 10"/>

</launch>